header {
  background-color: #333333;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
}

.logo {
  background: url("../images/logo.png") no-repeat;
  width: 200px;
  height: 40px;
  margin-left: 20px;