.filters {
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  height: 70px;
  width: 100%;
}

.filters .locations, .filters .amenities {
  height: 100%;
  width: 25%;
  float: left;
  border-right: 1px solid #DDDDDD;
  padding: 10px;
  position: relative;
}

.filters .locations ul, .filters .amenities ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filters .locations > ul > li, .filters .amenities > ul > li {
  margin-bottom: 10px;
  cursor: pointer;
}

.filters .locations h3, .filters .amenities h3 {
  font-weight: 600;
}

.filters .locations h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.filters .locations ul ul {
  margin-left: 10px;
  margin-bottom: 10px;
  display: none;
}

.filters .popover {
  position: absolute;
  background-color: #FAFAFA;
  color: #333333;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  list-style: none;
  margin: 0;
  padding: 5px;
  width: 25%;
  top: 100%;
  display: none;
  z-index: 1;
}

.filters .popover li {
  cursor: pointer;
}

.filters .locations:hover .popover, .filters .amenities:hover .popover {
  display: block;
}

